@tailwind base;
@tailwind components;
@tailwind utilities;

.formzs{
    background-color: #F5F5F5;
    border-radius: 20px;  
}

.py-12{
    margin-left: 200px;
    margin-top: 60px;
    background-color: #ADD8E6;
    width:1100px
}
.max-w-7xl{
    background-color:#ADD8E6;
    color:white;
    text-align:center;
}
.p-6{
    background-color: #F5F5F5;
}
.underline{
    color:BLACK;
}

.ml-3{
    color:white;
    background-color: black;
    width:25%;
    text-align: center;
    margin-right: 41%;
    /* padding-right: 130px;  */
}

.ml-3:hover{
    color:white;
    background-color: black;
}
.ml-4{
    color:white;
    background-color: black;
    width:25%;
    text-align: center;
    margin-right: 20%;
}
.ml-4:hover{
    color:white;
    background-color: black;
}
.formzs .mt-4 .block{
    padding-top:15px ;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 100px;
    border-color: green;
    color:black;
    font-size: large;
    width:370px
 
}

.btn{
    margin-left:10px;
}